<br/>
<br/>
<div class="tac" style="margin-left: 205px">
  <%= image_tag 'mytravelbuddy_banner.png' %>
</div>
<br/>
<br/>
<div class="hero-unit tac span6" style="margin-left: 200px">
  <p>
    <%=t 'short_about' %>
  </p>
  <br/>
  <div>
    <%= link_to image_tag('facebook_login_button.png'), "/auth/facebook" %>
  </div>

</div>
