<div class="hero-unit tac">
  <h1>Travel Buddy</h1>
  <br/>
  <p>
    <%=t 'short_about' %>
  </p>
  <div>
    <%= link_to image_tag('facebook_login_button.png'), "#{AppConfig.app_url}auth/facebook", :target => '_top' %>
  </div>

</div>
